{% extends "::base.html.twig" %}

{% block body %}
    <h1>Extra Form Editor</h1>
    {{ form(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/idciextraform/css/styles.css') }}" />
{% endblock %}