.editor-modal.overview-modal {
    z-index: 9999;
}

.editor-modal.overview-modal .modal-content {
    max-height: 93vh;
    top: 20%;
    overflow: auto;
}

.editor-advanced > div {
    max-height: 80vh;
    min-height: 60vh;
    overflow: auto;
}

.editor-advanced i.delete {
    float: right;
    padding-left: 5px;
    position: relative;
    top: 3px;
}

/** EXTRA FORM FIELDS **/

.editor-advanced .extra-form-fields .field {
    background-color: white;
    border: 1px solid #514D61;
    color: #514D61;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}

.editor-advanced .extra-form-fields .field.active {
    background-color: #514D61;
    color: #FFFFFF;
}

.editor-advanced .extra-form-fields .field button.close {
    color: #514D61;
    opacity: 1;
    visibility: hidden;
}

.editor-advanced .extra-form-fields .field.active button.close {
    color: #FFFFFF;
}

.editor-advanced .extra-form-fields .field button.close:hover {
    opacity: 0.7;
}

.editor-advanced .extra-form-fields .field strong {
    display: inline-block;
    padding-bottom: 5px;
}

.editor-advanced .extra-form-fields .field .fa-icon,
.editor-advanced .vue-modal-container .fa-icon {
    float: left;
    font-size: 25px;
    margin: 10px 10px 5px 5px;
}

.editor-advanced .extra-form-fields .field .fa-arrows-alt,
.editor-advanced .extra-form-fields .field .fa-floppy-o {
    float: right;
    font-size: 20px;
    line-height: 1;
    position: relative;
    right: 15px;
    top: 10px;
}

.editor-advanced .extra-form-fields .field .fa-floppy-o {
    right: 30px;
}

.editor-advanced .extra-form-fields .field .fa-floppy-o:hover {
    color: #A0809D;
}

.editor-advanced .extra-form-fields .field .fa-arrows-alt:hover {
    cursor: move;
}

.editor-advanced .extra-form-fields .field:hover button.close {
    visibility: visible;
}

/** EXTRA FORM FIELDS CONFIGURATION **/

.editor-advanced .field.active .field-name-input {
    color: #FFFFFF;
}

.editor-advanced .field .field-name-input {
    background-color: transparent;
    border: none;
    color: #514D61;
    padding-left: 5px;
    width: 200px;
}

.editor-advanced .nav-pills {
    margin: 10px 0;
}

.editor-advanced ul.nav-pills > li > a {
    border-radius: 0;
    color: #514D61;
}

.editor-advanced ul.nav-pills > li a:hover,
.editor-advanced ul.nav-pills > li a:focus,
.editor-advanced ul li.active a {
    background-color: #514D61;
    color: #FFFFFF;
}

.editor-advanced .extra-form-types .nav-pills {
    text-align: center;
}

.editor-advanced .extra-form-types ul.nav-pills > li {
    display: inline-block;
    float: none;
}

.editor-advanced .extra-form-fields-configuration > .inactive {
    display: none;
}

.editor-advanced .extra-form-fields-configuration > .active {
    display: block;
}

/* Do not display the label (used in the editor-simple component) */
.editor-advanced .tab-content > .tab-pane > div > label {
    display: none;
}

/** EXTRA FORM FIELDS CONFIGURATION : OPTIONS **/

.editor-advanced .field-options > div > button.extra-btn {
    margin: 0;
    padding: 5px;
}

/** EXTRA FORM FIELDS CONFIGURATION : CONSTRAINTS **/

.editor-advanced .multiselect {
    display: inline-block;
    width: 80%;
}
.editor-advanced .multiselect__option--highlight,
.editor-advanced .multiselect__option--selected.multiselect__option--highlight,
.editor-advanced .multiselect__option--highlight:after {
    background: #514D61;
}

.editor-advanced .new-field-constraint button {
    display: inline-block;
    margin: 0 10px;
    min-width: inherit;
    padding: 8px;
}

.editor-advanced .field-constraint {
    background-color: #514D61;
    border: 1px solid #514D61;
    color: #FFFFFF;
    margin: 10px 0;
    padding: 10px;
}

.editor-advanced .field-constraint button.close {
    color: #FFFFFF;
    opacity: 1;
    visibility: hidden;
}

.editor-advanced .field-constraint:hover button.close {
    visibility: visible;
}

.editor-advanced .field-constraint-options a {
    color: #FFFFFF;
    display: block;
    margin: 10px 0;
    width: 100%;
}

.editor-advanced .field-constraint-options a {
    text-decoration: none;
}

.editor-advanced .field-constraint-options a > span:after {
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #514D61;
    content: " +";
    display: inline-block;
    float: right;
    padding-left: 6px;
    width: 20px;
}

.editor-advanced .field-constraint-options a[aria-expanded="true"] > span:after {
    content: "-";
    float: right;
    padding-left: 8px;
}
