/**********/
/* EDITOR */
/**********/

.editor-modal .modal-footer button {
    float: left;
    margin-right: 15px;
}

.editor-modal .fa-cog.fa-spin {
    color: #265a88;
}

.handle:before {
    content: "\E2DC";
    cursor: move;
    float: right;
}

.extra-form-inputs-required input[required="required"] {
    background-color: #f3d9d9;
    border-color: #c9302c;
}

.editor-modal.modal.in .modal-dialog {
    padding: 0;
}

/*******************/
/* BOOTSTRAP RESET */
/*******************/

.checkbox {
    margin: 0;
}

label {
    font-weight: normal;
}

select, input, textarea, button, optgroup {
    color: #000000;
}

/**********************/
/* EDITOR FORM GROUPS */
/**********************/

.editor .form-group {
    position: relative;
}

.editor .form-group > label {
    display: inline-block;
    font-weight: bold;
    padding-bottom: 3px;
    width: 35%;
}

.editor .form-group > .form-control {
    display: inline-block;
    width: 65%;
}

.editor .form-group > input[type="checkbox"].form-control {
    width: inherit;
}

.editor .form-group > i.feedback {
    position: absolute;
    right: 10px;
    top: 10px;
}

.editor .form-group > i.warning.feedback { color: #d43f3a; }
.editor .form-group > i.success.feedback { color: #4cae4c; }

/********************/
/* FULLSCREEN MODAL */
/********************/

/* See http://www.minimit.com/demos/bootstrap-3-transparent-and-fullscreen-modals */

.modal-fullscreen {
    background: #FFFFFF;
}

.modal-fullscreen .modal-content {
    background: transparent;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.modal-fullscreen .modal-dialog, .overview-modal .modal-dialog {
    height: 100%;
    left: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.modal-fullscreen .modal-dialog {
    width: 100%;
}

.modal-fullscreen .modal-footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

/***********************/
/* VUE MODAL COMPONENT */
/***********************/

.editor .vue-modal-mask {
    background-color: rgba(0, 0, 0, .5);
    height: 200%;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity .3s ease;
    width: 100%;
    z-index: 9998;
}

.editor .vue-modal-mask .vue-modal-container {
    background-color: #fff;
    border: 5px solid #514D61;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20% auto 0 auto;
    padding: 20px 30px;
    transition: all .3s ease;
    width: 50%;
}

.editor .vue-modal-mask > .vue-modal-container > .vue-modal-header > h3 > .close {
    color: #000000;
    visibility: inherit;
}

.editor .vue-modal-mask .vue-modal-header h3 {
    color: #514D61;
    margin-top: 0;
}

.editor .vue-modal-mask .vue-modal-body {
    margin: 20px 0;
}

.editor .vue-modal-mask .vue-modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .vue-modal-container,
.modal-leave-active .vue-modal-container {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/***********/
/* BUTTONS */
/***********/

.editor button.extra-btn {
    background-color: white;
    border: 1px solid #514D61;
    color: #514D61;
    display: block;
    margin: 10px auto;
    min-width: 200px;
}

.editor button.extra-btn .fa-icon {
    float: left;
    min-width: 20px;
    padding-right: 5px;
    position: relative;
    top: 3px;
}

.editor button.extra-btn:hover {
    background: #514D61;
    border-color: #514D61;
    color: #FFF;
}