.editor-advanced > div {
    max-height: 80vh;
    min-height: 60vh;
    overflow: auto;
}

.editor-advanced button.extra-btn {
    border: 1px solid #514D61;
    background-color: white;
    color: #514D61;
    display: block;
    min-width: 200px;
    margin: 10px auto;
}

.editor-advanced button.extra-btn .fa-icon {
    float: left;
    position: relative;
    top: 3px;
    padding-right: 5px;
}

.editor-advanced button.extra-btn:hover {
    background: #514D61;
    border-color: #514D61;
    color: #FFF;
}

/** EXTRA FORM FIELDS **/


.editor-advanced .extra-form-fields .field {
    border: 1px solid #514D61;
    background-color: white;
    margin: 10px;
    color: #514D61;
    cursor: pointer;
    padding: 10px;
}

.editor-advanced .extra-form-fields .field.active {
    color: #FFFFFF;
    background-color: #514D61;
}

.editor-advanced .extra-form-fields .field button.close {
    visibility: hidden;
    color: #514D61;
    opacity: 1;
}

.editor-advanced .extra-form-fields .field.active button.close {
    color: #FFFFFF;
}

.editor-advanced .extra-form-fields .field button.close:hover {
    opacity: 0.7;
}

.editor-advanced .extra-form-fields .field strong {
    display: inline-block;
    padding-bottom: 5px;
}

.editor-advanced .extra-form-fields .field .fa-icon {
    float: left;
    font-size: 25px;
    margin: 10px 10px 5px 5px;
}

.editor-advanced .extra-form-fields .field .fa-arrows-alt {
    float: right;
    line-height: 1;
    font-size: 20px;
    position: relative;
    right: 15px;
    top: 10px;
}

.editor-advanced .extra-form-fields .field .fa-arrows-alt:hover {
    cursor: move;
}

.editor-advanced .extra-form-fields .field:hover button.close {
    visibility: visible;
}

/** EXTRA FORM FIELDS CONFIGURATION **/

.editor-advanced .field.active .field-name-input {
    color: #FFFFFF;
}

.editor-advanced .field .field-name-input {
    color: #514D61;
    width: 200px;
    border: none;
    padding-left: 5px;
    background-color: transparent;
}

.editor-advanced .extra-form-fields-configuration .nav-pills {
    margin: 10px 0;
}

.editor-advanced .extra-form-fields-configuration ul.nav-pills > li > a {
    color: #514D61;
    border-radius: 0;
}

.editor-advanced .extra-form-fields-configuration ul.nav-pills > li a:hover,
.editor-advanced .extra-form-fields-configuration ul li.active a {
    background-color: #514D61;
    color: #FFFFFF;
}

.editor-advanced .extra-form-fields-configuration > .inactive {
    display: none;
}

.editor-advanced .extra-form-fields-configuration > .active {
    display: block;
}

/* Do not display the label (used in the editor-simple component) */
.editor-advanced .tab-content > .tab-pane > div > label {
    display: none;
}

/** EXTRA FORM FIELDS CONFIGURATION : OPTIONS **/

.editor-advanced .field-options div > label,
.editor-advanced .field-constraint-options div > label{
    min-width: 130px;
    padding-bottom: 3px;
    display: inline-block;
}

.editor-advanced .field-options > div > button.extra-btn {
    margin: 0;
    padding: 5px;
}

/** EXTRA FORM FIELDS CONFIGURATION : CONSTRAINTS **/

.editor-advanced .multiselect {
    width: 80%;
    display: inline-block;
}
.editor-advanced .multiselect__option--highlight,
.editor-advanced .multiselect__option--selected.multiselect__option--highlight,
.editor-advanced .multiselect__option--highlight:after {
    background: #514D61;
}

.editor-advanced .new-field-constraint button {
    min-width: inherit;
    display: inline-block;
    margin: 0 10px;
    padding: 8px;
}

.editor-advanced .field-constraint {
    border: 1px solid #514D61;
    background-color: #514D61;
    margin: 10px 0;
    color: #FFFFFF;
    padding: 10px;
}

.editor-advanced .field-constraint button.close {
    visibility: hidden;
    color: #FFFFFF;
    opacity: 1;
}

.editor-advanced .field-constraint:hover button.close {
    visibility: visible;
}

.editor-advanced .field-constraint-options a {
    width: 100%;
    margin: 10px 0;
    display: block;
    color: #FFFFFF;
}

.editor-advanced .field-constraint-options a {
    text-decoration: none;
}

.editor-advanced .field-constraint-options a > span:after {
    float: right;
    content: " +";
    display: inline-block;
    background-color: #FFFFFF;
    color: #514D61;
    border-radius: 20px;
    width: 20px;
    padding-left: 6px;
}

.editor-advanced .field-constraint-options a[aria-expanded="true"] > span:after {
    float: right;
    content: "-";
    padding-left: 8px;
}


