
.editor-simple {
  max-height: 85vh;
  min-height: 60vh;
  overflow: auto;
}

.editor-simple > .new-field {
    border: 1px solid rgb(169, 169, 169);
    margin-bottom: 5px;
    padding: 5px;
}

.editor-simple .field {
    border: 1px dashed black;
    padding: 10px;
}

.editor-simple .field-options > div,
.editor-simple .field-constraint-options > div {
    display: none;
}

.editor-simple .field-options.show > div,
.editor-simple .field-constraint-options.show > div {
    display: block;
}

.editor-simple .field-options > label:after,
.editor-simple .field-constraint-options > label:after {
    content: "+";
}

.editor-simple .field-options.show > label:after,
.editor-simple .field-constraint-options.show > label:after {
    content: "-";
}


.editor-simple .field-options,
.editor-simple .field-constraints {
    border-bottom: 1px solid rgb(169, 169, 169);
    border-top: 1px solid rgb(169, 169, 169);
    margin: 10px 0;
    padding: 10px;
}

.editor-simple .field-options > label,
.editor-simple .field-constraint-options > label {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 10px;
}

.editor-simple .field-options > div > label {
    display: inline-block;
    min-width: 120px;
    padding-bottom: 3px;
}

.editor-simple .field-options > div,
.editor-simple .field-constraints > div {
    padding-left: 20px;
}
