/**********/
/* EDITOR */
/**********/

button.close-visual-mode {
    float: left;
}

.handle:before {
    float: right;
    content: "\E2DC";
    cursor: move;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.editor-simple > div.new-field {
    border: 1px solid rgb(169, 169, 169);
    padding: 5px;
    margin-bottom: 5px;
}

.editor-simple .field {
    padding: 10px;
    border: 1px dashed black;
}

.editor-simple .field-options > div,
.editor-simple .field-constraint-options > div {
    display: none;
}

.editor-simple .field-options.show > div,
.editor-simple .field-constraint-options.show > div {
    display: block;
}

.editor-simple .field-options > label:after,
.editor-simple .field-constraint-options > label:after {
    content: "+";
}

.editor-simple .field-options.show > label:after,
.editor-simple .field-constraint-options.show > label:after {
    content: "-";
}


.editor-simple .field-options, .field-constraints {
    border-top: 1px solid rgb(169, 169, 169);
    border-bottom: 1px solid rgb(169, 169, 169);
    margin: 10px 0;
    padding: 10px;
}

.editor-simple .field-options > label, .field-constraint-options > label {
    padding-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}

.editor-simple .field-options > div > label {
    min-width: 120px;
    padding-bottom: 3px;
    display: inline-block;
}

.editor-simple .field-options > div, .field-constraints > div {
    padding-left: 20px;
}

/********************/
/* FULLSCREEN MODAL */
/********************/

/* See http://www.minimit.com/demos/bootstrap-3-transparent-and-fullscreen-modals */

.modal-fullscreen {
    background: transparent;
}

.modal-fullscreen .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-backdrop.modal-backdrop-fullscreen {
    background: #ffffff;
}

.modal-backdrop.modal-backdrop-fullscreen.in {
    opacity: .97;
    filter: alpha(opacity=97);
}

.modal-fullscreen .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .modal-fullscreen .modal-dialog {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .modal-fullscreen .modal-dialog {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .modal-fullscreen .modal-dialog {
        width: 1170px;
    }
}