.tags_box {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
}

.tags_box ul {
    padding-left: 0;
    overflow: auto;
}

.taggle_input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}

.taggle_list li {
    float: left;
    display: inline-block;
    white-space: nowrap;
    font-weight: 500;
    margin-bottom: 5px;
}

.taggle_list .taggle {
    margin-right: 8px;
    background: #E2E1DF;
    padding: 5px 25px 5px 20px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.taggle_list .taggle_hot {
    background: #cac8c4;
}

.taggle_list .taggle .close {
    font-size: 2rem;
    position: absolute;
    top: 8px;
    right: 8px;
    text-decoration: none;
    padding-left: 2px;
    padding-top: 3px;
    line-height: 0.5;
    color: #428bca;
    padding-bottom: 4px;
    display: none;
    border: 0;
    background: none;
    cursor: pointer;
}

.taggle_list .taggle:hover {
    background: #ccc;
}

.taggle_list > li:hover > .close {
    display: block;
}

.taggle_placeholder  {
    display: none;
}

.taggle_input {
    padding: 8px;
    padding-left: 0;
    float: left;
    margin-top: -5px;
    background: none;
    width: 100%;
    max-width: 100%;
}

.taggle_sizer {
    padding: 0;
    margin: 0;
    position: absolute;
    top: -500px;
    z-index: -1;
    visibility: hidden;
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
}

.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    outline: none;
}

.ui-widget-content {
    background: #fff;
    color: #428bca;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: 2px .4em;
    line-height: 1.5;
    min-height: 0;
    font-weight: normal;
    color: #8a8a8a;
    cursor: pointer;
}

.ui-menu .ui-menu-item a:hover {
    color: #fff;
    background: #428bca;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #428bca;
    color: #fff;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
    color: #fff;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #aaaaaa;
    background: #ffffff;
    font-weight: normal;
    color: #212121;
}

.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.autocomplete {
    max-height: 200px;
    overflow: scroll;
    position: absolute;
    top: 66px;
    background: white;
    width: 99.5%;
    left: 0.25%;
    z-index: 2;
}

.autocomplete ul li {
    display: block;
    padding: 6px 8px;
}

.autocomplete ul li.selected, .autocomplete ul li:hover {
    background: #ff6633;
    color: #fff;
    cursor: pointer;
}

.ui-autocomplete {
    max-height: 200px;
    overflow: scroll;
    width: 565px;
}

