/**********/
/* EDITOR */
/**********/

.editor-modal .json-errors {
    color: #d43f3a;
    font-weight: bold;
    padding: 10px 0;
}

.editor-modal .modal-footer button {
    float: left;
    margin-right: 15px;
}

.editor-modal .fa-cog.fa-spin {
    color: #265a88;
}

.handle:before {
    content: "\E2DC";
    cursor: move;
    float: right;
}

.extra-form-inputs-required input[required="required"] {
    background-color: #f3d9d9;
    border-color: #c9302c;
}

.editor-modal.modal.in .modal-dialog {
    padding: 0;
}

.editor-modal .raw-mode > textarea {
    width: 100%;
    height: 75vh;
}

/*******************/
/* BOOTSTRAP RESET */
/*******************/

label {
    font-weight: normal;
}

select, input, textarea, button, optgroup {
    color: #000000;
}

/**********************/
/* EDITOR FORM GROUPS */
/**********************/

.editor .form-group {
    position: relative;
    clear: right;
}

.editor .form-group > label {
    display: block;
    font-weight: bold;
    padding-bottom: 3px;
    width: 35%;
    float: left;
    position: relative;
}

.editor .form-group > .form-control-wrapper {
    display: inline-block;
    width: 65%;
    /* hack: https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
    margin-right: -30px;
}

.editor .form-group > .form-control-wrapper > span {
    font-style: italic;
    display: inline-block;
    padding-bottom: 5px;
}

.editor .form-group > input[type="checkbox"].form-control {
    width: inherit;
}

.editor .form-group i.feedback {
    right: 10px;
    position: absolute;

}

.editor .form-group i.warning.feedback { color: #d43f3a; }
.editor .form-group i.success.feedback { color: #4cae4c; }

/********************/
/* FULLSCREEN MODAL */
/********************/

/* See http://www.minimit.com/demos/bootstrap-3-transparent-and-fullscreen-modals */

.modal-fullscreen {
    background: #FFFFFF;
}

.modal-fullscreen .modal-content {
    background: transparent;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.modal-fullscreen .modal-dialog, .overview-modal .modal-dialog {
    height: 100%;
    left: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.modal-fullscreen .modal-dialog {
    width: 100%;
}

.modal-fullscreen .modal-footer {
    bottom: 0;
    position: relative;
    width: 100%;
}

/***********************/
/* VUE MODAL COMPONENT */
/***********************/

.editor .vue-modal-mask {
    background-color: rgba(0, 0, 0, .5);
    height: 200%;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity .3s ease;
    width: 100%;
    z-index: 9998;
}

.editor .vue-modal-mask .vue-modal-container {
    background-color: #fff;
    border: 5px solid #514D61;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20% auto 0 auto;
    padding: 20px 30px;
    transition: all .3s ease;
    width: 50%;
}

.editor .vue-modal-mask > .vue-modal-container > .vue-modal-header > h3 > button.close {
    color: #000000;
    visibility: inherit;
}

.editor .vue-modal-mask .vue-modal-header h3 {
    color: #514D61;
    margin-top: 0;
}

.editor .vue-modal-mask .vue-modal-body {
    margin: 20px 0;
}

.editor .vue-modal-mask .vue-modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .vue-modal-container,
.modal-leave-active .vue-modal-container {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/***********/
/* BUTTONS */
/***********/

.editor button.extra-btn {
    background-color: white;
    border: 1px solid #514D61;
    color: #514D61;
    display: block;
    margin: 10px auto;
    min-width: 200px;
}

.editor button.extra-btn .fa-icon {
    float: left;
    min-width: 20px;
    padding-right: 5px;
    position: relative;
    top: 3px;
}

.editor button.extra-btn:hover,
.editor button.extra-btn:focus  {
    background: #514D61;
    border-color: #514D61;
    color: #FFF;
}

/* Bootstrap Pills */

.editor .nav-pills {
    margin: 10px 0;
}

.editor ul.nav-pills > li > a {
    border-radius: 0;
    color: #514D61;
}

.editor ul.nav-pills > li a:hover,
.editor ul.nav-pills > li a:focus,
.editor ul li.active a {
    background-color: #514D61;
    color: #FFFFFF;
}

.editor ul.nav-pills {
    text-align: center;
}

.editor .extra-form-types ul.nav-pills > li {
    display: inline-block;
    float: none;
}

/* Collapsed block */

.editor .collapsed-block {
    background-color: #514D61;
    border: 1px solid #514D61;
    color: #FFFFFF;
    margin: 10px 0;
    padding: 10px;
}

.editor .collapsed-block button.close {
    color: #FFFFFF;
    opacity: 1;
    visibility: hidden;
}

.editor .collapsed-block:hover button.close {
    visibility: visible;
}

.editor .collapsed-block .options a {
    color: #FFFFFF;
    display: block;
    margin: 10px 0;
    width: 100%;
}

.editor .collapsed-block .options a {
    text-decoration: none;
}

.editor .collapsed-block .options a > span:after {
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #514D61;
    content: " +";
    display: inline-block;
    float: right;
    padding-left: 6px;
    width: 20px;
}

.editor .collapsed-block .options a[aria-expanded="true"] > span:after {
    content: "-";
    float: right;
    padding-left: 8px;
}

/****************/
/* MULTI SELECT */
/****************/

.editor .multiselect {
    display: inline-block;
    width: 80%;
}
.editor .multiselect__option--highlight,
.editor .multiselect__option--selected.multiselect__option--highlight,
.editor .multiselect__option--highlight:after {
    background: #514D61;
}

.editor .multiselect.multiselect-form-control {
    display: inline-block;
    width: 65%;
    margin-right: -30px;
}
